<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Greeting</title>
</head>
<body>
<p th:text="'Hello, ' + ${name2} + ' ' + ${lastname2} + '!'" />
</body>
</html>