<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{style/style.css}" rel="stylesheet"/>
    <title>Student</title>
</head>
    <body>
    <p>
        <table border="1px">
        <caption>Students</caption>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>LASTNAME</th>
                <th>YEAR OF BIRTH</th>
                <td>2000</td>
            </tr>
            <tr th:each="student : ${students}">
                <td th:text="${student.id}"></td>
                <td th:text="${student.name}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.yearOfBirth}"></td>
                <td>
                    <form th:action="@{/student}" th:method="DELETE">
                        <input type="hidden" value="id" th:txt="${student.id}">
                        <button type="submit" >Delete</button>
                    </form>
                </td>
            </tr>
        </table>
    </p>
    <p><a href="/student/new-student" methods="GET">Create new student</a></p>
    </body>
</html>